# Default haproxy configuration
#
# If this isn't updated by consul-template right away,
# there may be something wrong...

global
    log 127.0.0.1 local2
    debug
    maxconn 4096
    stats socket /var/run/haproxy.sock mode 777 level admin
    stats socket ipv4@0.0.0.0:9191 mode 777 level admin
    stats timeout 60s

defaults
    log global
    option httplog
    option log-separate-errors
    option abortonclose
    option redispatch
    option logasap
    option http-server-close
    option forceclose
    option forwardfor
    mode http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend www
  capture request header Host len 64
  capture response header Content-Length len 64
  monitor-uri /health
  acl unhealthy always_false
  monitor fail if unhealthy
  bind *:80

listen stats 0.0.0.0:9090
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics

    #The user/pass you want to use. Change this password!
    stats auth admin:pass

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE
